DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chismografo"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
FACEBOOK_APP_ID="750061104831230"
TIKTOK_CLIENT_ID=""
TIKTOK_CLIENT_SECRET=""
REDIS_URL=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
